In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
phish_tank = pd.read_csv('data/verified_online.csv')
phish_tank.head()

NameError: name 'pd' is not defined

In [18]:
phish_tank.shape

(93919, 8)

In [19]:
phish_url = phish_tank.sample(n = 5000, random_state = 42).copy()
phish_url = phish_url.reset_index(drop = True)
phish_url.head()

,phish_id,url,phish_detail_url,submission_time,verified,verification_time,online,target
0,7830211,http://www.aseeeaeon.cacesccrecens.yjfcag.top/...,http://www.phishtank.com/phish_detail.php?phis...,2022-10-14T02:18:13+00:00,yes,2022-10-14T02:53:07+00:00,yes,AEON Card
1,7767728,http://www.saaaaeieescsceoe.sacacsceorira.7wqx...,http://www.phishtank.com/phish_detail.php?phis...,2022-09-15T13:17:29+00:00,yes,2022-09-15T13:52:10+00:00,yes,NICOS
2,7764708,http://www.viaevasvcceei.vivacsvercsaias.hcokl...,http://www.phishtank.com/phish_detail.php?phis...,2022-09-14T13:58:40+00:00,yes,2022-09-14T15:22:16+00:00,yes,NICOS
3,7765355,http://www.viaveacesvcsceei.viasavesvoerrcasia...,http://www.phishtank.com/phish_detail.php?phis...,2022-09-14T15:00:58+00:00,yes,2022-09-14T16:41:59+00:00,yes,NICOS
4,7831285,http://www.vivsviavecc.veae.gcffqs.top/LAuCvx4...,http://www.phishtank.com/phish_detail.php?phis...,2022-10-14T03:42:44+00:00,yes,2022-10-14T04:43:50+00:00,yes,NICOS

In [20]:
phish_url.shape

(5000, 8)

In [21]:
phish_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phish_id           5000 non-null   int64
 1   url                5000 non-null   object
 2   phish_detail_url   5000 non-null   object
 3   submission_time    5000 non-null   object
 4   verified           5000 non-null   object
 5   verification_time  5000 non-null   object
 6   online             5000 non-null   object
 7   target             5000 non-null   object
dtypes: int64(1), object(7)
memory usage: 312.6+ KB

In [24]:
legit_raw = pd.read_csv('data/benign_sites.csv')
legit_raw.columns = ['url']
legit_raw.head()

                                                 url
0  http://1337x.to/torrent/1110018/Blackhat-2015-...
1  http://1337x.to/torrent/1122940/Blackhat-2015-...
2  http://1337x.to/torrent/1124395/Fast-and-Furio...
3  http://1337x.to/torrent/1145504/Avengers-Age-o...
4  http://1337x.to/torrent/1160078/Avengers-age-o...

In [25]:
# sample 5000 legit urls
legit_url = legit_raw.sample(n = 5000, random_state = 42).copy()
legit_url = legit_url.reset_index(drop = True)
legit_url.head()

                                                 url
0  http://correios.com.br/Para-governo/tribunais-...
1  http://caixa.gov.br/voce/habitacao/financiamen...
2  http://olx.ua/uk/list/q-%D0%BF%D0%BB%D0%B0%D1%...
3  http://emgn.com/entertainment/10-films-that-en...
4  http://metro.co.uk/2015/04/11/one-direction-re...

In [26]:
legit_url.shape

(5000, 1)